---
tag: Attribution
title: SPASE Tutorial - Attribution
---

<div id="content">
   <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#person">Attribution</a></li>
        <li class=""><a href="#contacts">Contacts</a></li>
        <li class=""><a href="#acknowledgements">Acknowledgements</a></li>
      </ul>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="person">Attribution</h1>
      </div>
      <div class="body">
        <p>
        	An essential part of research is providing attribution and acknowledgement of the
        	contribution of others to a particular result. In a SPASE resource description there
        	are two ways to provide attribution. One is in the Contact segment of the ResourceHeader,
        	the other is through the Acknowledgement element.
         </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
    <div class="section" id='contacts'>
      <div class="head">
        <h1 id="contact">Contacts</h1>
      </div>
      <div class="body">
        <p>
        	In the Contact segment of a ResourceHeader it is possible to acknowledge individuals who 
        	have played a role in the generation of the resource. This can include everyone from the 
        	Principal Investigator who leads an investigation to the person who created the metadata 
        	which describes the resource.
         </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

   
    <div class="section">
      <div class="head">
        <h1 id="acknowledgements">Acknowledgements</h1>
      </div>
      <div class="body">
        <p>
        	An Acknowledgement is a prescribed set of text that users of the resource should include with any
        	published use of the resource. The text is defined by the data provider. Typically an Acknowledgement
        	will contain a reference to the data center or organization which provided the data. It may also contain
        	references to an individual.
        </p>
        <p>
        	For example:
<pre class="code">
&lt;Acknowledgement>
   National Space Science Data Center(NSSDC), Space Physics Data Facility(SPDF) 
   and IZMIRAN at Moscow
&lt;/Acknowledgement>
</pre>
         When using the resource in a publication an Acknowledgement might appear as:
<pre class="code">
Acknowledgement
The authors would like to thank National Space Science Data Center(NSSDC), 
Space Physics Data Facility(SPDF) and IZMIRAN at Moscow for provided the data
used in this research.
</pre>
         </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->

