---
tag: Finding a Resource
title: SPASE Tutorial - Finding a Resource
---

<div id="content">
   <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#person">Registries and Resources</a></li>
        <li class=""><a href="#examples">Examples</a></li>
      </ul>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="person">Registries and Resources</h1>
      </div>
      <div class="body">
        <p>
           Since every resource registered in a SPASE compliant system has a unique resource identifier, 
           finding a resource is made possible with a registry service. A registry service will translate
           a resource identifier into the resource description (metadata) for the resource. SPASE provides 
           a set of <a target="_blank" href="http://spase-group.org/tools/registry/">registry services<span class="tutor">View the SPASE registry tools.</span></a> which a 
           <a target="_blank" href="http://spase-group.org/services/naming-authority.html">naming authority<span class="tutor">View the list of naming authorities</span></a> can use to register
           and share resource descriptions.
           
         </p>
         <p>The SPASE group maintains a registry for conceptual (i.e., services) and physical (i.e., people) resources.
         	It's located at <a target="blank" href="http://spase.info/registry/explorer">http:/spase.info/registry/explorer<span class="tutor">Open the SMWG registry explorer.</span>.</a>
         </p>
         <p>
            Digital resources (i.e., data) are registered at other locations like a virtual observatory.
         </p>
         <p>
         	When describing data resources references to other resources are made using the resource's identifier.
         	A quick check at the <a target="_blank" href="http://spase.info/registry/explorer">SMWG Registry<span class="tutor">Open the comprehensive SPASE registry explorer.</span></a> 
         	can save you from writing many of the required resource descriptions.
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
    <div class="section">
      <div class="head">
        <h1 id="examples">Examples</h1>
      </div>
      <div class="body">
        <h2>Search for a Resource Description</h2>
        <p>
        	The SMWG registry contains resource descriptions for many conceptual (i.e., services) and physical (i.e., people) resources.
        	It can be searched at:
<pre class="code">
<a target="_blank" href="http://spase.info/registry/search">http://spase.info/registry/search</a>
</pre>
        To find descriptions related to "Geotail", enter the name in the box and click "Observatory" and hit enter. 
        A formatted description of all related Observatory resources will be displayed.
        </p>
        <p>
        	Similar searches can be made for instruments, persons, and repositories.
      </p>
        <h2>Retrieve a Resource Description</h2>
        <p>
        	Retrieve the resource description for the Geotail spacecraft. <br/>
        	It has the resource identifier of "spase://SMWG/Observatory/Geotail":
<pre class="code">
<a target="_blank" href="http://spase.info/registry/resolver?id=spase://SMWG/Observatory/Geotail">http://spase.info/registry/resolver?id=spase://SMWG/Observatory/Geotail</a>
</pre>
to see the resource description is a nice readble form, try the "render" service:
<pre class="code">
<a target="_blank" href="http://spase.info/registry/render?id=spase://SMWG/Observatory/Geotail">http://spase.info/registry/resolver?id=spase://SMWG/Observatory/Geotail</a>
</pre>
        </p>
        <p>
        </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

  </div> <!-- End of POD -->
</div> <!-- End of Content -->

