---
tag: Tutorials
title: SPASE Tutorials
---

<div id="content">
  <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#Introduction">Introduction</a></li>
      </ul>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="Introduction">Introduction</h1>
        <a href="#body" class="top" title="Back up to the top of the page" >Top</a>
      </div>
      <div class="body">
        <p>
           The SPASE Tutorials provide a step-by-step introduction to creating SPASE resource descriptions.
         </p>
         <p> The available tutorials are includes:
         </p>
         <p>
            <dl>
               <dt><a href="what.html">What is a Resource</a></dt>
                  <dd>Discover what a Resource is in the world of SPASE.</dd>
               <dt><a href="resourceid.html">Creating a Resource ID</a></dt>
                  <dd>How to create a resource identifier (ID) for a new resource description.</dd>
               <dt><a href="you.html">You as a Resource</a></dt>
                  <dd>Create your first resource description by describing yourself.</dd>
               <dt><a href="finding.html">Finding a Resource</a></dt>
                  <dd>Find existing resource descriptions so you don't have to do everything from scratch.</dd>
               <dt><a href="data.html">Describing Data Resources</a></dt>
                  <dd>Learn how to describe a data resource.</dd>
               <dt><a href="attribution.html">Giving Credit</a></dt>
                  <dd>Acknowledging the work of others is an important part of science. Learn how to give proper credit.</dd>
               <dt><a href="validate.html">Validating a Description</a></dt>
                  <dd>Learn how to use tools to validate a resource description.</dd>
        </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->

