---
tag: Creating a Resource ID
title: SPASE Tutorial - Creating a Resource ID
---

<div id="content">
   <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#resource">What is a Resource ID</a></li>
        <li class=""><a href="#conventions">Resource ID Conventions</a></li>
        <li class=""><a href="#create">Create a Resource ID</a></li>
      </ul>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="resource">Creating a Resource ID</h1>
      </div>
      <div class="body">
        <p>
        	A "resource identifier", or more commonly referred to as a "resource ID", is a string of characters 
        	which can be used to reference a resource. It can be thought of as a name for a resource which conforms
        	to a particular formation convention.
         </p>
         <p>A SPASE Resource ID has the general form:
<pre class="code">
spase://NamingAuthority/ResourceType/Path
</pre>
         where "spase://" is always present. The "NamingAuthority" is the name assigned to the curator of the resource. 
         A list current naming authorities can be found at <a target="_blank" href="http://spase-group.org/services/#naming-authorty">
         http://spase-group.org/services/#naming-authorty<span class="tutor">View the list of naming authorities.</span></a>. The "ResourceType" is the name for the
         type of resource which the identifier is assigned. The "Path" portion is any string which will make the identifier
         unique. Each resource class (conceptual, digital and physical) has a slightly different convention on the formation of the "path"
         portion of identifier.
         </p>
         <p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

    <div class="section">
      <div class="head">
        <h1 id="conventions">Resource ID Conventions</h1>
      </div>
      <div class="body">
        <p>
           Since resources are openly shared a SPASE Resource ID must be universally unique. 
           This is enabled by having naming authorities control the formation of fully defined resource identifiers.
           So that there is some uniformity in the creation of resource identifiers adopting a set of conventions is recommended.
           (For more details see <a target="_blank" href="http://spase-group.org/docs/conventions/Resource-ID-Formation-Rule-v4.pdf">
           	http://spase-group.org/docs/conventions/Resource-ID-Formation-Rule-v4.pdf<span class="tutor">View the conventions for creating a Resource ID.</span></a>
        </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

    <div class="section">
      <div class="head">
        <h1 id="create">Create an Resource ID</h1>
      </div>
      <div class="body">
      	<p>
      		Try creating a resource ID. Make some selections in the form available <a href="http://spase-group.org/tools/idmaker/"><span class="tutor">Create a resource ID using a simple tool.</span>here.</a>
      	</p>

     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

  </div> <!-- End of POD -->
</div> <!-- End of Content -->

