---
tag: What is a Resource
title: SPASE Tutorial -  What is a Resource
---

<div id="content">
   <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#resource">What is a Resource</a></li>
        <li class=""><a href="#types">Resource Types</a></li>
      </ul>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="resource">What is a Resource</h1>
      </div>
      <div class="body">
        <p>
        	A "resource" is anything which can be described and referenced. A resource may be conceptual, physical or digital.
        	For example, a person is a physical resource, data is a digital resource and an annotation is a conceptual resource.
        	Typically, only digital resources can be delivered to you and only information about physical and conceptual resources
        	can be conveyed to you.
         </p>
         <p>
         When a resource is described it is assigned a unique identifier. The value of this identifier is a required part of
         every description. The identifier is used to reference the resource, both externally and by other resources.
         See <a href="resourceid.html"><span class="tutor">Learn how to create a SPASE Resource ID.</span>Creating a Resource ID</a> for more details on Resource Identifiers.
         </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

    <div class="section">
      <div class="head">
        <h1 id="types">Resource Types</h1>
      </div>
      <div class="body">
        <p>
The resource types currently in the SPASE information model are:
</p>
<h2>Physical Resources</h2>
<p>
<dl>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Instrument"><span class="tutor">A device that is used to sense and parameterize a physical phenomenon.</span>Instrument</a></dt><dd>A device that is used to sense and parameterize a physical phenomenon.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Observatory"><span class="tutor">The host (spacecraft, network, facility) for instruments making observations.</span>Observatory</a></dt><dd>The host (spacecraft, network, facility) for instruments making observations.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Person"><span class="tutor">An individual human being.</span>Person</a></dt><dd>An individual human being.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Registry"><span class="tutor">A location or facility where resources are catalogued.</span>Registry</a></dt><dd>A location or facility where resources are catalogued.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Repository"><span class="tutor">A location or facility where resources are stored.</span>Repository</a></dt><dd>A location or facility where resources are stored.</dd>
</dl>
</p>
<h2>Digital Resources</h2>
<p>
<dl>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Catalog"><span class="tutor">Listing of events or observational notes.</span>Catalog</a></dt><dd>Listing of events or observational notes.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Document"><span class="tutor">Plain or formatted text that may include graphics, sound, other multimedia data, or hypermedia references.</span>Document</a></dt><dd>Plain or formatted text that may include graphics, sound, other multimedia data, or hypermedia references.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_DisplayData"><span class="tutor">A graphical representation of data.</span>Display Data</a></dt><dd>A graphical representation of data.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_NumericalData"><span class="tutor">Data product stored as numerical values in a specified format.</span>Numerical Data</a></dt><dd>Data product stored as numerical values in a specified format.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Granule"><span class="tutor">An accessible portion of another resource.</span>Granule</a></dt><dd>An accessible portion of another resource.</dd>
</dl>
</p>
<h2>Conceptual Resources</h2>
<p>
<dl>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Annotation"><span class="tutor">Explanatory or descriptive information that is associated with another resource.</span>Annotation</a></dt><dd>Explanatory or descriptive information that is associated with another resource.</dd>
<dt><a target="_blank" href="http://spase-group.org/data/model/spase-2_3_1/spase-2_3_1_xsd.htm#http___www.spase-group.org_data_schema_Spase_Service"><span class="tutor">A location or facility that can perform a well-defined task.</span>Service</a></dt><dd>A location or facility that can perform a well-defined task.</dd>
</dl>
</p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

  </div> <!-- End of POD -->
</div> <!-- End of Content -->

