---
tag: Connect
title: Connect with others
---

<div id="content">
 <div class="section">
   <div class="head">
      <h1 id="contents">Contents</h1>
   </div>
   <div class="body">
      <ul id="toc" class="toc">
        <li class=""><a href="#Spase">SPASE Mailing Lists</a></li>
        <li class="sub"><a href="#SPASE-General">General Discussions</a></li>
        <li class="sub"><a href="#SMWG">SPASE Metadata Working Group</a></li>
        <li class="sub"><a href="#SPASE-SPASEQL">SPASE-QL</a></li>
        <li class=""><a href="#HDMC">HDMC Mailing Lists</a></li>
        <li class="sub"><a href="#HDMC-General">General Discussions</a></li>
        <li class="sub"><a href="#HDMC-Analytics">Analytics</a></li>
        <li class="sub"><a href="#HDMC-Eventlists">Eventlists</a></li>
        <li class="sub"><a href="#HDMC-Dataaccess">Data Access</a></li>
        <li class="sub"><a href="#HDMC-Registries">Registries</a></li>
        <li class="sub"><a href="#HDMC-SPASE-QL">SPASE-QL</a></li>
        <li class="sub"><a href="#HDMC-Visualization">Visualization</a></li>
      </ul>
  </div>
</div>

<div class="pod">

<div class="section">
  <div class="head">
    <h1 id="Spase">SPASE Mailing Lists</h1>
  </div>
  <div class="body">
  	<p>
  		The Space Physics Archive Search and Extract (SPASE) consortium is an international community of 
  		scientists, specialists, information engineers and system designers who are endeavouring to
  		create a standards and services to enable the open exchange of Heliophysics data.
  	</p>
  <div class="subsection">
    <div class="head">
      <h2 id="SPASE-General">SPASE General Discussions</h2>
   </div>
  <div class="body">
    <p>
There main SPASE mailing is at:
<pre>
    spase@listserv.gsfc.nasa.gov 
</pre>
To subscribe send an e-mail to spase@listserv.gsfc.nasa.gov with

<ul>
    <li>Subject line blank.</li>
    <li>a message body of:
<pre>
      subscribe spase your_email_address
</pre>
</li>
</ul>
Anyone is welcome to join. This is also where data model changes are first posted. There is a telecon held about twice a month. The times are announced on the "spase" Mailing list. Everyone can join the telecon and participate.
</p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->
  <div class="subsection">
    <div class="head">
<h2 id="SMWG">SPASE Metadata Working Group (SMWG)</h2>
   </div>
  <div class="body">
<p>
The SPASE metadata working group discusses implementation issues, mostly focused on the generation of metadata and maintaining a common top level registry. Its maintained at:
<pre>
    <a class="ext" target="_blank" href="http://groups.google.com/group/vxo-spase-smwg?hl=en">http://groups.google.com/group/vxo-spase-smwg?hl=en</a>
</pre>
email: vxo-spase-smwg@googlegroups.com
</p>
   </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->
  <div class="subsection">
    <div class="head">
<h2 id="SMWG-SPASEQL">SPASE-QL</h2>
   </div>
  <div class="body">
  	<p>
SPASEQL is an effort to use the SPASE data model to create a standardized communication language for 
Virtual Observatories. This group creates standards for query and response message construction and 
builds tools to implement SPASEQL.
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-spaseql?hl=en&lnk=">http://groups.google.com/group/hdmc-spaseql?hl=en&lnk=</a>
</pre>
email: hdmc-spaseql@googlegroups.com
</p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

<div class="section">
  <div class="head">
    <h1 id="Spase">HDMC Mailing Lists</h1>
  </div>
  <div class="body">
  	<p>
  		The Heliophysics Data and Model Consortium (HDMC) is a NASA group designed to coordinate
  		the activities of NASA funded projects that are part of establishing an integrated Heliphysics Data 
  		Environment (HPDE).
  	</p>
  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-General">HDMC General Discussions</h2>
   </div>
   <div class="body">
      <p>
Group to provide content of general interest and a common location for information about the NASA Heliophysics Data and Model Consortium
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc?hl=en&lnk=">http://groups.google.com/group/hdmc?hl=en&lnk=</a>
</pre>
email: hdmc@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-Analytics">HDMC Analytics</h2>
   </div>
   <div class="body">
      <p>
This forum is for the discussion of analytics issues among members of the HDMC (Heliophysics Data Model Consortium).
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-analytics?hl=en&lnk=">http://groups.google.com/group/hdmc-analytics?hl=en&lnk=</a>
</pre>
email: hdmc-analytics@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-Eventlists">HDMC Eventlists</h2>
   </div>
   <div class="body">
      <p>
Scientists currently manually generate, manage and share lists of observations. The goal of this group is to improve list querying and enable annotating and intersecting lists of events across a full range of Heliophysics data sources, and leverage the services of the VxOs and SPDF.
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-eventlists?hl=en&lnk=">http://groups.google.com/group/hdmc-eventlists?hl=en&lnk=</a>
</pre>
email: hdmc-eventlists@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-Dataaccess">HDMC Data Access</h2>
   </div>
   <div class="body">
      <p>
A forum for discussing techniques and tools to deal with diverse science data formats in the Heliophysics community. The ultimate aim is to jointly create easy-to-use mechanisms for obtaining diverse, distributed data in a format that is immediately useful for scientific analysis.
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-dataaccess?hl=en&lnk=">http://groups.google.com/group/hdmc-dataaccess?hl=en&lnk=</a>
</pre>
email: hdmc-dataaccess@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-Registries">HDMC Registries</h2>
   </div>
   <div class="body">
      <p>
This forum is for the discussion of registry issues among members of the HDMC (Heliophysics Data Model Consortium).
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-registries?hl=en&lnk=">http://groups.google.com/group/hdmc-registries?hl=en&lnk=</a>
</pre>
email: hdmc-registries@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-SPASE-QL">HDMC SPASE-QL</h2>
   </div>
   <div class="body">
      <p>
SPASEQL is an effort to use the SPASE data model to create a standardized communication language for Virtual Observatories. This group creates standards for query and response message construction and builds tools to implement SPASEQL. This group is a forum for SPASEQL discussion.
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-spaseql?hl=en&lnk=">http://groups.google.com/group/hdmc-spaseql?hl=en&lnk=</a>
</pre>
email: hdmc-spaseql@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

  <div class="subsection">
    <div class="head">
      <h2 id="HDMC-Visualization">HDMC Visualization</h2>
   </div>
   <div class="body">
      <p>
This is the email list for the HDMC working group on visualization.
<pre>
   <a class="ext" target="_blank" href="http://groups.google.com/group/hdmc-visualization?hl=en&lnk=">http://groups.google.com/group/hdmc-visualization?hl=en&lnk=</a>
</pre>
email: hdmc-visualization@googlegroups.com
      </p>
     </div> <!-- End of Body -->
    </div>	<!-- End of Subsection -->

     </div> <!-- End of Body -->
    </div>	<!-- End of Section -->
  </div> <!-- End of POD -->
</div> <!-- End of Content -->
