---
tag: Credits
title: Credits
---
<div id="content">
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="Credits">Credits</h1>
      </div>
      <div class="body">
         <p>Web site concept and content: Todd King</p>
         <p>Tutor drawing: <a class="ext" href="http://www.aboutfacesentertainers.com/caricature/artist_pages/chalk_t.htm">Tom Chalkley</a></p>
         <p>Web site design based on the Template Toolkit by <a class="ext" href="http://wardley.org/">Andy Wardley</a>.
         <p>Additional web site functionality: Todd King</p>
      </div> <!-- End of Body -->
    </div> <!-- End of Section -->
  </div> <!-- End of POD -->
</div> <!-- End of Content -->
