---
tag: About
title: About SPASE Tutorials
---
<div id="content">
 <div class="section">
   <div class="head">
      <h1 id="contents">Contents</h1>
   </div>
   <div class="body">
      <ul id="toc" class="toc">
        <li class=""><a href="#Introduction">Introduction</a></li>
        <li class=""><a href="#Start">Getting Started</a></li>
        <li class=""><a href="#Topics">Topics</a></li>
      </ul>
  </div>
</div>

<div class="pod">

<div class="section">
  <div class="head">
    <h1 id="Introduction">Introduction</h1>
  </div>
  <div class="body">
    <p>
      The SPASE Tutorials are designed to provide both introductory and
      in-depth information for the generation and use of resource 
      descriptions based on the SPASE Metadata Model. The tutorials
      also provide information on a set of services and protocols which
      can be used to share information and data, as well as construct
      Virtual Observatories which can integrate with similiar systems at
      a local and international level.
   </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

<div class="section">
  <div class="head">
    <h1 id="Start">Getting Started</h1>
  </div>
  <div class="body">
   <p>
      When you roll your cursor over active areas of a tutorial your tutor (the 
      character in the upper right corner) will offer some hints or advice. Give it a try. 
      Roll over the word 
      "<a href="#">SPASE"<span class="tutor">SPASE is an acronym for Space Physics Archive Search and Extract.</span></a>"
      and your tutor will tell you what means.
   </p>
   <p>
   	You can <a href="tutorials">jump<span class="tutor">Let's start with the tutorials!</span></a> right in and learn by doing or you can read a little first.
   </p>
   <p>
      Here's a study plan:
      <ul>
         <li>Get familiar with what SPASE is all about. (<a href="intro.htm">What is SPASE</a>)</li>
         <li>Take a look at the SPASE documentation. (<a href="docs">Documentation</a>)</li>
         <li>Follow through the tutorials. (<a href="tutorials">Tutorials</a>)</li>
         <li>Take part in the SPASE community discussions. (<a href="connect.htm">Connect with others</a>)</li>
      </ul>
   </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->

<div class="section">
  <div class="head">
    <h1 id="Topics">Topics</h1>
  </div>
  <div class="body">
    <p>
    The tutorials are divided the following topics:
    </p>
    <p>
<dt><a href="intro.htm">What is SPASE</a><dt><dd>An introduction to the goals of SPASE, the SPASE Metadata Model and available services.</dd>
<dt><a href="docs">Documentation</a><dt><dd>A valuable set of references for understanding and using creating SPASE resource descriptions and services. </dd>
<dt><a href="tutorials">Tutorials</a><dt><dd>A step-by-step introduction to creating SPASE resource descriptions.</dd>
    </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->
