---
tag: Dictionary
title: SPASE - Dictionary
---
<div id="content">
  <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#Dictionary">Dictionary</a></li>
      </ul>
    </div>
  </div>
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="Metadata">SPASE Dictionary</h1>
      </div>
      <div class="body">
      	<p>
SPASE uses a controlled vocabulary to specify its metadata model. The terms in the SPASE vocabulary are maintained
in a dictionary. 
</p>
<p>
	For documentation on each released version of the metadata model see <a href="http://www.spase-group.org/docs/dictionary">http://www.spase-group.org/docs/dictionary/</a>
</p>
	
<p>A <a href="http://www.spase-group.org/data/model/history.html">history</a> of changes is also available.
</p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->
