---
tag: Documentation
title: SPASE Documents
---

<div id="content">
  <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
      <ul class="toc">
        <li class=""><a href="#Introduction">Introduction</a></li>
      </ul>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="Introduction">Introduction</h1>
        <a href="#body" class="top" title="Back up to the top of the page" >Top</a>
      </div>
      <div class="body">
        <p>
           The SPASE documentation is a valuable set of references for understanding and using creating SPASE 
           resource descriptions and services.
         </p>
         <p> The available documentation includes:
         </p>
         <p>
<dt><a href="dictionary.html">Dictionary</a><span class="tutor">Explore the SPASE dictionary.</span><dt><dd>The dictionary defines all the terms used in SPASE models.</dd>
<dt><a href="model.html">Metadata Model</a><span class="tutor">Explore the SPASE information model.</span><dt><dd>The Metadata Model defines the specification for how to create resource descriptions.</dd>
<dt><a href="schema.html">XML Schema</a><span class="tutor">Explore the SPASE XML schema.</span><dt><dd>The XML Schema documents define the metadata model for use in XML documents.</dd>
        </p>
     </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->

