---
tag: Metadata Model
title: SPASE - Model
---
<div id="content">
  <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
    	Documentation for:
      <ul class="toc">
        <li class=""><a href="#Metadata">Metadata Model</a></li>
        <li class=""><a href="#Dictionary">Dictionary Model</a></li>
      </ul>
    </div>
  </div>
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="Metadata">SPASE Metadata Model</h1>
      </div>
      <div class="body">
<p>The SPASE metadata model can be expressed in many forms. One of those forms is as an XML Schema.
	An XML Schema is a machine readable form (see <a href="../schema">schema</a>). Here you can find
	human readable documentation which includes standard model diagrams.
</p>
<p>
	Each version of the metadata model is fully documented. The available versions are available at: <a href="http://www.spase-group.org/docs/model/">http://www.spase-group.org/docs/model/</a>
</p>
    </div> <!-- End of Body -->
   </div> <!-- End of Section -->

    <div class="section">
      <div class="head">
        <h1 id="Dictionary">SPASE Dictionary</h1>
      </div>
      <div class="body">
<p>
Also available is the documentation for the <a href="http://www.spase-group.org/data/search.jsp?style=xml">XML version</a> of the data dictionary schema.
</p>
<p>
	Each version of the dictionary schema is fully documented. 
    </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->
