---
tag: Metadata Model
title: SPASE - Model
---
<div id="content">
  <div class="section">
    <div class="head">
      <h1 id="contents" onclick="switch_section(this)">Contents</h1>
    </div>
    <div class="body">
    	Documentation for:
      <ul class="toc">
        <li class=""><a href="#Metadata">Metadata Model</a></li>
        <li class=""><a href="#Dictionary">Dictionary Model</a></li>
      </ul>
    </div>
  </div>
 
  <div class="pod">
    <div class="section">
      <div class="head">
        <h1 id="Metadata">SPASE Metadata Model</h1>
      </div>
      <div class="body">
<p>The SPASE metadata model can be expressed in many forms. One of those forms is as an XML Schema.
	An XML Schema is a machine readable form (see <a taget="_blank" href="http://www.spase-group.org/data/schema/">schema<span class="tutor">View the SPASE XML Schema</span></a>). Here you can find
	human readable documentation which includes standard model diagrams.
</p>
<p>
	Each version of the metadata model is fully documented. The available versions are available at: <a target="_blank" href="http://www.spase-group.org/data/model/">http://www.spase-group.org/data/model/<span class="tutor">View documentation on the SPASE Information Model.</span></a>
</p>
    </div> <!-- End of Body -->
   </div> <!-- End of Section -->

    <div class="section">
      <div class="head">
        <h1 id="Dictionary">SPASE Dictionary</h1>
      </div>
      <div class="body">
<p>
Also available is the documentation for the <a target="_blank" href="http://www.spase-group.org/data/model">XML version<span class="tutor">View documentation of the SPASE dictionary</span></a> of the data dictionary schema.
</p>
<p>
	Each version of the dictionary schema is fully documented <a target="_blank" href="http://www.spase-group.org/data/model/"><span class="tutor">View HTML documentation of the SPASE information model</span>with model diagrams</a> 
	and <a target="_blank" href="http://www.spase-group.org/docs/dictionary/"><span class="tutor">View PDF documentation of the SPASE information model</span>with a dictionary style</a> .
    </div> <!-- End of Body -->
   </div> <!-- End of Section -->
   
  </div> <!-- End of POD -->
</div> <!-- End of Content -->
